# Archivos y carpetas generados por Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Carpeta del entorno virtual (si estás utilizando uno)
venv/

# Archivos de configuración
*.env

# Archivos de registro y archivos temporales
*.log
*.tmp
*.swp

# Archivos y carpetas específicos de IDEs
.vscode/
.idea/

# Archivo de configuración para Uvicorn
uvicorn_conf.py
