<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link 
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
        rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" 
        crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    
    <div class="container" style="background-color: rgb(0, 0, 0);">
        <div class="container-table " style="background-color: black;">
            <h2 class="table text-center text-primary"> Table : {{ name }}</h2>
        </div>
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    {% for i in names_camp %}
                        <th class="center text-center">{{i}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                
                {% for lista in lista_by_body %}
                    <tr class ="center">
                        {% for e in lista %}
                            <td class="center aling-middle text-center"> {{ e }} </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}">
</body>
</html>